.modal p {
  margin-bottom: 10px;
  text-align: center;
}
.modal table {
  margin: 0 auto;
  width: 100%;
}
.modal table td, table th {
  padding: 5px 10px;
  border: 1px solid #f2f2f2;
}
.modal .status-disabled {
  user-select: none;
  color: #BBB;
}
.modal .fb {
  font-weight: bold;
}
.modal .blue {
  color: #1890ff;
}