.com-unselect {
  user-select: none;
}
.christmas.ant-btn-primary:before {
  display: none;
}
table {
  font-size: 12px;
}
table thead > * {
  max-width: 100%;
  white-space:nowrap; 
}
.ant-table-body {
  overflow-y: auto;
}